<form action="/robots" method="post">
  <p>Enter a new Robot:</p>
  <label for="id">Name</label>
  <input type='text' name='robot[name]'/><br/>
  <label for="id">City</label>
  <input type='text' name='robot[city]'/><br/>
  <label for="id">State</label>
  <input type='text' name='robot[state]'/><br/>
  <label for="id">Department</label>
  <input type='text' name='robot[department]'/><br/>
  <input type='submit'/>
</form>
